.root{
    -fx-base: black;
    -fx-background: black;
}

.text-area{
    -fx-font-size: 15pt;
    -fx-font-family: "Futura";
}

.label{
    -fx-font-size: 20pt;
    -fx-font-family: "Futura";
}

#title-label {
    -fx-font-size: 30pt;
    -fx-underline: true;
}

#welcome-label {
    -fx-font-size: 30pt;
    -fx-underline: true;
}

#game-name-label {
    -fx-font-size: 25pt;
}

.button{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 240px;
    -fx-border-width: 3pt;
    -fx-border-color: #86EAFD;
    -fx-text-fill: #B8EDF7;
    -fx-background-color: black;
    -fx-alignment: CENTER;
}

.button:hover{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 240px;
    -fx-border-width: 3pt;
    -fx-text-fill: black;
    -fx-background-color: #B8EDF7;
    -fx-alignment: CENTER;
}

.button:pressed{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 240px;
    -fx-border-width: 3pt;
    -fx-text-fill: black;
    -fx-background-color: #B8EDF7;
    -fx-alignment: CENTER;
}

.text-field{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-max-width: 240px;
    -fx-padding: 2,2,2,2;
    -fx-border-color: black;
    -fx-border-radius: 2;
}
