.root{
    -fx-base: #F7D5F3;
    -fx-background: #F7D5F3;
}

.text-area{
    -fx-font-size: 15pt;
    -fx-font-family: "Futura";
}

.label{
    -fx-font-size: 20pt;
    -fx-font-family: "Futura";
}

.button{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 220px;
    -fx-border-width: 3pt;
    -fx-border-color: #FF96F3;
    -fx-text-fill: white;
    -fx-background-color: #FF96F3;
    -fx-alignment: CENTER;

}

.button:hover{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 220px;
    -fx-border-width: 3pt;
    -fx-text-fill: #FF11E4;
    -fx-background-color: white;
    -fx-alignment: CENTER;
}

.button:pressed{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 220px;
    -fx-border-width: 3pt;
    -fx-text-fill: #FF11E4;
    -fx-background-color: white;
    -fx-alignment: CENTER;
}

.text-field{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-max-width: 220px;
    -fx-padding: 2,2,2,2;
    -fx-border-color: black;
    -fx-border-radius: 2;
}
.combo-box .list-cell{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-text-fill: #FF96F3;
    -fx-background-color: white;
    -fx-padding: 1 10;
}
.combo-box-base > .arrow-button {
    -fx-background-color: white;
    -fx-padding: 0 2;
}
.combo-box-popup .list-cell:filled:selected {
    -fx-background-color: #F7D5F3;
    -fx-text-fill: #FF11E4;
}
.combo-box-popup .list-cell:filled:hover{
    -fx-background-color: #F7D5F3;
    -fx-text-fill: #FF11E4;
}
