.root{
    -fx-base: #BAFF40;
    -fx-background: #BAFF40;
}

.text-area{
    -fx-font-size: 15pt;
    -fx-font-family: "Futura";
}

.label{
    -fx-font-size: 20pt;
    -fx-font-family: "Futura";
}

.button{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 220px;
    -fx-border-width: 3pt;
    -fx-border-color: black;
    -fx-text-fill: darkgreen;
    -fx-background-color: white;
    -fx-alignment: CENTER;

}

.button:hover{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 220px;
    -fx-border-width: 3pt;
    -fx-border-color: forestgreen;
    -fx-text-fill: white;
    -fx-background-color: darkgreen;
    -fx-alignment: CENTER;
}

.button:pressed{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 220px;
    -fx-border-width: 3pt;
    -fx-border-color: forestgreen;
    -fx-text-fill: white;
    -fx-background-color: darkgreen;
    -fx-alignment: CENTER;
}

.text-field{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-max-width: 240px;
    -fx-padding: 2,2,2,2;
    -fx-border-color: black;
    -fx-border-radius: 2;
}
