.root{
    -fx-base: white;
    -fx-background: linear-gradient(to right, darkred, orangered, orange, yellow, yellowgreen, forestgreen, darkgreen, deepskyblue, blue, darkblue, blueviolet);
}

.text-area{
    -fx-font-size: 15pt;
    -fx-font-family: "Futura";
}

.label{
    -fx-font-size: 20pt;
    -fx-font-family: "Futura";
}

.button{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 220px;
    -fx-border-width: 3pt;
    -fx-border-color: #8B18F0;
    -fx-text-fill: white;
    -fx-background-color: #188BF0;
    -fx-alignment: CENTER;

}

.button:hover{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 220px;
    -fx-border-width: 3pt;
    -fx-border-color: #FFF600;
    -fx-text-fill: white;
    -fx-background-color: #18F01F;
    -fx-alignment: CENTER;
}

.button:pressed{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 220px;
    -fx-border-width: 3pt;
    -fx-border-color: #8B18F0;
    -fx-text-fill: white;
    -fx-background-color: #188BF0;
    -fx-alignment: CENTER;
}

.text-field{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-max-width: 240px;
    -fx-padding: 2,2,2,2;
    -fx-border-color: black;
    -fx-border-radius: 2;
}
