.root {
    -fx-base: white;
    -fx-background: white;
}

.text-area{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
}

.label{
    -fx-font-size: 18pt;
    -fx-font-family: "Futura";
}

#title-label {
    -fx-font-size: 30pt;
    -fx-underline: true;
}

#welcome-label {
    -fx-font-size: 30pt;
    -fx-underline: true;
}

#game-name-label {
    -fx-font-size: 25pt;
}

.button{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 220px;
    -fx-border-width: 4pt;
    -fx-border-color: darkblue;
    -fx-text-fill: linear-gradient(white, lightblue, lightskyblue);
    -fx-background-color: blue;
    -fx-alignment: CENTER;
}

.button:hover{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 220px;
    -fx-border-width: 4pt;
    -fx-border-color: darkblue;
    -fx-text-fill: mediumblue;
    -fx-background-color: white;
    -fx-alignment: CENTER;
}

.button:pressed{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-pref-width: 220px;
    -fx-border-width: 4pt;
    -fx-border-color: darkblue;
    -fx-text-fill: mediumblue;
    -fx-background-color: white;
    -fx-alignment: CENTER;
}

.text-field{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-max-width: 240px;
    -fx-padding: 2,2,2,2;
    -fx-border-color: white;
    -fx-border-radius: 2;
}

.combo-box .list-cell{
    -fx-font-size: 12pt;
    -fx-font-family: "Futura";
    -fx-text-fill: #FF96F3;
    -fx-background-color: white;
    -fx-padding: 1 10;
}
.combo-box-base > .arrow-button {
    -fx-background-color: white;
    -fx-padding: 0 2;
}
.combo-box-popup .list-cell:filled:selected {
    -fx-background-color: #F7D5F3;
    -fx-text-fill: #FF11E4;
}
.combo-box-popup .list-cell:filled:hover{
    -fx-background-color: #F7D5F3;
    -fx-text-fill: #FF11E4;
}